links for in-text "Section X ... RFC Y" references have wrong targets

This issue reports a [datatracker issue #4543](https://github.com/ietf-tools/datatracker/issues/4543) in the relevant project.

The above linked datatracker issue uses RFC 8252 as an example of the problem.  The opening paragraph (abstract) of [RFC 7817](https://datatracker.ietf.org/doc/html/rfc7817) provides a more comprehensive example of how in-text references to "section X ... RFC Y" do not correctly render as hyperlinks:

> This document describes the Transport Layer Security (TLS) server identity verification procedure for SMTP Submission, IMAP, POP, and ManageSieve clients.  It replaces [Section 2.4](https://datatracker.ietf.org/doc/html/rfc7817#section-2.4) (Server Identity Check) of [RFC 2595](https://datatracker.ietf.org/doc/html/rfc2595) and updates [Section 4.1](https://datatracker.ietf.org/doc/html/rfc7817#section-4.1) (Processing After the STARTTLS Command) of [RFC 3207, Section 11.1](https://datatracker.ietf.org/doc/html/rfc3207#section-11.1) (STARTTLS Security Considerations) of [RFC 3501](https://datatracker.ietf.org/doc/html/rfc3501), and [Section 2.2.1](https://datatracker.ietf.org/doc/html/rfc7817#section-2.2.1) (Server Identity Check) of [RFC 5804](https://datatracker.ietf.org/doc/html/rfc5804).

Here is what I'm seeing that is wrong:

- The first misdirected link is on the text "Section 2.4."  It points to the current RFC's section 2.4 instead of section 2.4 of RFC 2595, which is the correct target.
- The same is true of the link on the text "Section 4.1" pointing to the local section 4.1 instead of section 4.1 in RFC 3207.
- The next link is on the text "RFC 3207, Section 11.1."  The comma here separates references in the list such that "RFC 3207" goes with previous text and "Section 11.1" goes with the text that follows.  They are unrelated.  Coincidentally, RFC 3207 does not have 11 sections.
- The last misdirected link in this abstract is on the text "Section 2.2.1" and is the same problem as described in the first two bullets here.