incorrect ids added in RFC 5906

In Section 11.4.1 of RFC 5906, rfc2html misinterpreted line numbers - it added inaccurate id attributes. This causes some section-specific links not to work, e.g., these links to Section 13 
https://www.rfc-editor.org/rfc/rfc5906.html#section-13 and
https://datatracker.ietf.org/doc/html/rfc5906#section-13
go to the first id="section-13" within the file, which is the line number,
rather than the actual Section 13 (IANA Considerations).

input (Figure 9 in RFC 5906):
```
1       while (1) {
2               wait_for_next_poll;
3               make_NTP_header;
4               if (response_ready)
5                       send_response;
6               if (!ENB)             /* parameter exchange */
7                       ASSOC_request;
8               else if (!CERT)       /* certificate exchange */
9                       CERT_request(Host_Name);
10              else if (!IFF)        /* identity exchange */
11                      IFF_challenge;
12              else if (!COOK)       /* cookie exchange */
13                      COOKIE_request;
14              else if (!SYNC)       /* wait for synchronization */
15                      continue;
16              else if (!SIGN)       /* sign exchange */
17                      SIGN_request(Host_Certificate);
18              else if (!LEAP)       /* leapsecond values exchange */
19                      LEAP_request;
20              send packet;
21      }
```

rfc2html output:
``` html
<span class="h2"><a class="selflink" id="section-1" href="#section-1">1</a>       while (1) {</span>
<span class="h2"><a class="selflink" id="section-2" href="#section-2">2</a>               wait_for_next_poll;</span>
<span class="h2"><a class="selflink" id="section-3" href="#section-3">3</a>               make_NTP_header;</span>
<span class="h2"><a class="selflink" id="section-4" href="#section-4">4</a>               if (response_ready)</span>
<span class="h2"><a class="selflink" id="section-5" href="#section-5">5</a>                       send_response;</span>
<span class="h2"><a class="selflink" id="section-6" href="#section-6">6</a>               if (!ENB)  </span>           /* parameter exchange */
<span class="h2"><a class="selflink" id="section-7" href="#section-7">7</a>                       ASSOC_request;</span>
<span class="h2"><a class="selflink" id="section-8" href="#section-8">8</a>               else if (!CERT)  </span>     /* certificate exchange */
<span class="h2"><a class="selflink" id="section-9" href="#section-9">9</a>                       CERT_request(Host_Name);</span>
<span class="h2"><a class="selflink" id="section-10" href="#section-10">10</a>              else if (!IFF)  </span>      /* identity exchange */
<span class="h2"><a class="selflink" id="section-11" href="#section-11">11</a>                      IFF_challenge;</span>
<span class="h2"><a class="selflink" id="section-12" href="#section-12">12</a>              else if (!COOK)  </span>     /* cookie exchange */
<span class="h2"><a class="selflink" id="section-13" href="#section-13">13</a>                      COOKIE_request;</span>
<span class="h2"><a class="selflink" id="section-14" href="#section-14">14</a>              else if (!SYNC)  </span>     /* wait for synchronization */
<span class="h2"><a class="selflink" id="section-15" href="#section-15">15</a>                      continue;</span>
<span class="h2"><a class="selflink" id="section-16" href="#section-16">16</a>              else if (!SIGN)  </span>     /* sign exchange */
<span class="h2"><a class="selflink" id="section-17" href="#section-17">17</a>                      SIGN_request(Host_Certificate);</span>
<span class="h2"><a class="selflink" id="section-18" href="#section-18">18</a>              else if (!LEAP)  </span>     /* leapsecond values exchange */
<span class="h2"><a class="selflink" id="section-19" href="#section-19">19</a>                      LEAP_request;</span>
<span class="h2"><a class="selflink" id="section-20" href="#section-20">20</a>              send packet;</span>
<span class="h2"><a class="selflink" id="section-21" href="#section-21">21</a>      }</span>
```